<div class="flex-auto -mt-px pt-2">
    <div class="w-full max-w-screen-xl mx-auto space-y-8">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Monthly">
                <!-- MONTHLY -->
                <section class="space-y-4">
                    <div class="flex items-center justify-between">
                        <h2 class="text-2xl font-semibold px-2">
                            Monthly Report
                        </h2>

                        <div>
                            <mat-form-field class="w-48">
                                <input
                                    matInput
                                    readonly
                                    [matDatepicker]="pickerStart"
                                    (click)="pickerStart.open()"
                                    [formControl]="formGroup.controls.monthly"
                                />
                                <mat-datepicker-toggle
                                    matIconSuffix
                                    [for]="pickerStart"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="md:flex md:space-x-5 w-full">
                        <div class="space-y-8 md:w-full">
                            <!-- chart: revenue -->
                            <div
                                class="sm:col-span-2 lg:col-span-3 bg-card dark flex flex-col flex-auto shadow rounded-2xl overflow-hidden"
                            >
                                <div
                                    class="flex items-center justify-between mt-4 ml-10 mr-6 sm:mr-10"
                                >
                                    <div class="flex flex-col">
                                        <div
                                            class="mr-4 text-xl font-semibold tracking-tight leading-7"
                                        >
                                            Revenue Trend
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto h-80">
                                    <apx-chart
                                        class="flex-auto w-full h-full"
                                        [chart]="chartRevenue.chart"
                                        [colors]="chartRevenue.colors"
                                        [dataLabels]="chartRevenue.dataLabels"
                                        [grid]="chartRevenue.grid"
                                        [series]="chartRevenue.series"
                                        [tooltip]="chartRevenue.tooltip"
                                        [xaxis]="chartRevenue.xaxis"
                                        [yaxis]="chartRevenue.yaxis"
                                        [stroke]="{ width: 2, curve: 'smooth' }"
                                    ></apx-chart>
                                </div>
                            </div>

                            <!-- chart: daily unique patients -->
                            <div
                                class="sm:col-span-2 lg:col-span-3 bg-card dark flex flex-col flex-auto shadow rounded-2xl overflow-hidden"
                            >
                                <div
                                    class="flex items-center justify-between mt-4 ml-10 mr-6 sm:mr-10"
                                >
                                    <div class="flex flex-col">
                                        <div
                                            class="mr-4 text-xl font-semibold tracking-tight leading-7"
                                        >
                                            Unique Patients
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto h-80">
                                    <apx-chart
                                        class="flex-auto w-full h-full"
                                        [plotOptions]="
                                            chartVisitors.plotOptions
                                        "
                                        [chart]="chartVisitors.chart"
                                        [colors]="chartVisitors.colors"
                                        [dataLabels]="chartVisitors.dataLabels"
                                        [grid]="chartVisitors.grid"
                                        [series]="chartVisitors.series"
                                        [tooltip]="chartVisitors.tooltip"
                                        [xaxis]="chartVisitors.xaxis"
                                        [yaxis]="chartVisitors.yaxis"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>

                        <div
                            class="space-y-3 flex flex-col py-6 lg:py-0 lg:w-[460px]"
                        >
                            <!-- Total Revenue -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Revenue"
                                unit="Kyats"
                                [current]="int(monthlyData?.total_revenue)"
                                [previous]="int(prevMonthlyData?.total_revenue)"
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Clinic Revenue -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Clinic Revenue"
                                unit="Kyats"
                                [current]="
                                    int(monthlyData?.total_clinic_revenue)
                                "
                                [previous]="
                                    int(prevMonthlyData?.total_clinic_revenue)
                                "
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Lab Revenue -->
                            <app-display-item
                                title="Total Laboratory Revenue"
                                unit="Kyats"
                                [current]="int(monthlyData?.total_lab_revenue)"
                                [previous]="
                                    int(prevMonthlyData?.total_lab_revenue)
                                "
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Discount -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Discounts"
                                unit="Kyats"
                                [current]="int(monthlyData?.total_discount)"
                                [previous]="
                                    int(prevMonthlyData?.total_discount)
                                "
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Patient -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="New Patients"
                                unit="Patients"
                                [current]="int(monthlyData?.total_patients)"
                                [previous]="
                                    int(prevMonthlyData?.total_patients)
                                "
                                [isCurrency]="false"
                            ></app-display-item>

                            <!-- Total Expenses -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Expenses"
                                unit="Expenses"
                                [current]="int(monthlyData?.total_expenses)"
                                [previous]="
                                    int(prevMonthlyData?.total_expenses)
                                "
                                [isCurrency]="true"
                            ></app-display-item>
                        </div>
                    </div>
                </section>
            </mat-tab>

            <mat-tab label="Daily">
                <!-- DAILY -->
                <ng-template matTabContent>
                    <div class="flex items-center justify-between">
                        <h2 class="text-2xl font-semibold px-2">
                            Daily Report
                        </h2>

                        <div>
                            <mat-form-field class="w-48">
                                <input
                                    matInput
                                    [matDatepicker]="pickerEnd"
                                    (click)="pickerEnd.open()"
                                    [formControl]="formGroup.controls.daily"
                                    readonly
                                />
                                <mat-datepicker-toggle
                                    matIconSuffix
                                    [for]="pickerEnd"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="md:flex md:space-x-5 w-full">
                        <div class="space-y-8 md:w-full">
                            <!-- chart: revenue -->
                            <div
                                class="sm:col-span-2 lg:col-span-3 bg-card dark flex flex-col flex-auto shadow rounded-2xl overflow-hidden"
                            >
                                <div
                                    class="flex items-center justify-between mt-4 ml-10 mr-6 sm:mr-10"
                                >
                                    <div class="flex flex-col">
                                        <div
                                            class="mr-4 text-xl font-semibold tracking-tight leading-7"
                                        >
                                            Revenue Trend
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto h-80">
                                    <apx-chart
                                        class="flex-auto w-full h-full"
                                        [chart]="chartRevenueDaily.chart"
                                        [colors]="chartRevenueDaily.colors"
                                        [dataLabels]="
                                            chartRevenueDaily.dataLabels
                                        "
                                        [grid]="chartRevenueDaily.grid"
                                        [series]="chartRevenueDaily.series"
                                        [tooltip]="chartRevenueDaily.tooltip"
                                        [xaxis]="chartRevenueDaily.xaxis"
                                        [yaxis]="chartRevenueDaily.yaxis"
                                        [stroke]="{ width: 2, curve: 'smooth' }"
                                    ></apx-chart>
                                </div>
                            </div>

                            <!-- chart: daily unique patients -->
                            <div
                                class="sm:col-span-2 lg:col-span-3 bg-card dark flex flex-col flex-auto shadow rounded-2xl overflow-hidden"
                            >
                                <div
                                    class="flex items-center justify-between mt-4 ml-10 mr-6 sm:mr-10"
                                >
                                    <div class="flex flex-col">
                                        <div
                                            class="mr-4 text-xl font-semibold tracking-tight leading-7"
                                        >
                                            Unique Patients
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto h-80">
                                    <apx-chart
                                        class="flex-auto w-full h-full"
                                        [plotOptions]="
                                            chartVisitorsDaily.plotOptions
                                        "
                                        [chart]="chartVisitorsDaily.chart"
                                        [colors]="chartVisitorsDaily.colors"
                                        [dataLabels]="
                                            chartVisitorsDaily.dataLabels
                                        "
                                        [grid]="chartVisitorsDaily.grid"
                                        [series]="chartVisitorsDaily.series"
                                        [tooltip]="chartVisitorsDaily.tooltip"
                                        [xaxis]="chartVisitorsDaily.xaxis"
                                        [yaxis]="chartVisitorsDaily.yaxis"
                                    ></apx-chart>
                                </div>
                            </div>
                        </div>

                        <div
                            class="space-y-3 flex flex-col py-6 lg:py-0 lg:w-[460px]"
                        >
                            <!-- Total Revenue -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Revenue"
                                unit="Kyats"
                                [current]="int(dailyData?.total_revenue)"
                                [previous]="int(prevDailyData?.total_revenue)"
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Clinic Revenue -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Clinic Revenue"
                                unit="Kyats"
                                [current]="int(dailyData?.total_clinic_revenue)"
                                [previous]="
                                    int(prevDailyData?.total_clinic_revenue)
                                "
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Lab Revenue -->
                            <app-display-item
                                title="Total Laboratory Revenue"
                                unit="Kyats"
                                [current]="int(dailyData?.total_lab_revenue)"
                                [previous]="
                                    int(prevDailyData?.total_lab_revenue)
                                "
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Discount -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Discounts"
                                unit="Kyats"
                                [current]="int(dailyData?.total_discount)"
                                [previous]="int(prevDailyData?.total_discount)"
                                [isCurrency]="true"
                            ></app-display-item>

                            <!-- Total Patient -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="New Patients"
                                unit="Patients"
                                [current]="int(dailyData?.total_patients)"
                                [previous]="int(prevDailyData?.total_patients)"
                                [isCurrency]="false"
                            ></app-display-item>

                            <!-- Total Expenses -->
                            <app-display-item
                                *ngIf="['admin'].includes(role)"
                                title="Total Expenses"
                                unit="Expenses"
                                [current]="int(dailyData?.total_expenses)"
                                [previous]="int(prevDailyData?.total_expenses)"
                                [isCurrency]="true"
                            ></app-display-item>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
