<div class="flex-auto -mt-px pt-2">
    <div class="w-full max-w-screen-xl mx-auto space-y-8">
        <!-- MONTHLY -->
        <section class="space-y-4">
            <div class="flex items-center justify-between">
                <h2 class="text-2xl font-semibold px-2">Monthly Report</h2>

                <div>
                    <mat-form-field class="w-48">
                        <input
                            matInput
                            readonly
                            [matDatepicker]="pickerStart"
                            (click)="pickerStart.open()"
                            [formControl]="formGroup.controls.monthly"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="pickerStart"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <!-- chart -->
            <div
                class="sm:col-span-2 lg:col-span-3 bg-card dark flex flex-col flex-auto shadow rounded-2xl overflow-hidden"
            >
                <div
                    class="flex items-center justify-between mt-4 ml-10 mr-6 sm:mr-10"
                >
                    <div class="flex flex-col">
                        <div
                            class="mr-4 text-xl font-semibold tracking-tight leading-7"
                        >
                            Unique Patients
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-80" *ngIf="chartVisitors">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [plotOptions]="chartVisitors.plotOptions"
                        [chart]="chartVisitors.chart"
                        [colors]="chartVisitors.colors"
                        [dataLabels]="chartVisitors.dataLabels"
                        [grid]="chartVisitors.grid"
                        [series]="chartVisitors.series"
                        [tooltip]="chartVisitors.tooltip"
                        [xaxis]="chartVisitors.xaxis"
                        [yaxis]="chartVisitors.yaxis"
                    ></apx-chart>
                </div>
            </div>

            <!-- Cards -->
            <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
            >
                <!-- Total Revenue -->
                <app-display-item
                    title="Total Revenue"
                    unit="Kyats"
                    [current]="int(monthlyData?.total_revenue)"
                    [previous]="int(prevMonthlyData?.total_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Clinic Revenue -->
                <app-display-item
                    title="Total Clinic Revenue"
                    unit="Kyats"
                    [current]="int(monthlyData?.total_clinic_revenue)"
                    [previous]="int(prevMonthlyData?.total_clinic_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Lab Revenue -->
                <app-display-item
                    title="Total Laboratory Revenue"
                    unit="Kyats"
                    [current]="int(monthlyData?.total_lab_revenue)"
                    [previous]="int(prevMonthlyData?.total_lab_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Discount -->
                <app-display-item
                    title="Total Discounts"
                    unit="Kyats"
                    [current]="int(monthlyData?.total_discount)"
                    [previous]="int(prevMonthlyData?.total_discount)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Patient -->
                <app-display-item
                    title="New Patients"
                    unit="Patients"
                    [current]="int(monthlyData?.total_patients)"
                    [previous]="int(prevMonthlyData?.total_patients)"
                    [isCurrency]="false"
                ></app-display-item>
            </div>
        </section>

        <!-- DAILY -->
        <section>
            <div class="flex items-center justify-between">
                <h2 class="text-2xl font-semibold px-2">Daily Report</h2>

                <div>
                    <mat-form-field class="w-48">
                        <input
                            matInput
                            [matDatepicker]="pickerEnd"
                            (click)="pickerEnd.open()"
                            [formControl]="formGroup.controls.daily"
                            readonly
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="pickerEnd"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div
                *ngIf="dailyData && prevDailyData"
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
            >
                <!-- Total Revenue -->
                <app-display-item
                    title="Total Revenue"
                    unit="Kyats"
                    [current]="int(dailyData?.total_revenue)"
                    [previous]="int(prevDailyData?.total_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Clinic Revenue -->
                <app-display-item
                    title="Total Clinic Revenue"
                    unit="Kyats"
                    [current]="int(dailyData?.total_clinic_revenue)"
                    [previous]="int(prevDailyData?.total_clinic_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Lab Revenue -->
                <app-display-item
                    title="Total Laboratory Revenue"
                    unit="Kyats"
                    [current]="int(dailyData?.total_lab_revenue)"
                    [previous]="int(prevDailyData?.total_lab_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Discount -->
                <app-display-item
                    title="Total Discounts"
                    unit="Kyats"
                    [current]="int(dailyData?.total_discount)"
                    [previous]="int(prevDailyData?.total_discount)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Patient -->
                <app-display-item
                    title="New Patients"
                    unit="Patients"
                    [current]="int(dailyData?.total_patients)"
                    [previous]="int(prevDailyData?.total_patients)"
                    [isCurrency]="false"
                ></app-display-item>

                <!-- Total Appointment -->
                <app-display-item
                    title="Total Appointments"
                    unit="Appointments"
                    [current]="int(dailyData?.total_appointments)"
                    [previous]="int(prevDailyData?.total_appointments)"
                    [isCurrency]="false"
                ></app-display-item>
            </div>
        </section>
    </div>
</div>
