<div class="w-full p-3 sm:p-8 mx-auto" style="max-width: 1400px">
    <form (ngSubmit)="submit()">
        <div class="mb-4">
            <div class="flex justify-between">
                <div class="flex items-center">
                    <button
                        mat-icon-button
                        matTooltip="Back"
                        routerLink=".."
                        type="button"
                    >
                        <mat-icon svgIcon="mat_outline:chevron_left"></mat-icon>
                    </button>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">
                        {{ "CREATE_BATCH_ITEMS" | transloco }}
                    </h2>
                </div>
                <div>
                    <button
                        type="submit"
                        mat-flat-button
                        class="flex items-center bg-indigo-600 text-white"
                    >
                        <mat-icon
                            svgIcon="mat_outline:save"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        {{ "SAVE" | transloco }}
                    </button>
                </div>
            </div>
        </div>

        <div class="w-full pt-2 pb-2 mx-5">
            <div class="bg-card shadow-sm space-y-2 p-4">
                <div class="pb-4 flex justify-end">
                    <div class="flex space-x-4 items-center">
                        <div class="flex items-center space-x-1">
                            <p class="">Total Items:</p>
                            <p class="font-bold">{{ formGroups.length }}</p>
                        </div>
                        <button
                            type="button"
                            mat-flat-button
                            class="flex items-center bg-slate-600 text-white"
                            (click)="addItem()"
                        >
                            <mat-icon
                                svgIcon="mat_outline:add"
                                class="icon-size-5 mr-2"
                            ></mat-icon>
                            {{ "ADD" | transloco }}
                        </button>
                    </div>
                </div>

                <div
                    *ngFor="let fb of formGroups; let i = index"
                    @slideInRight
                    @slideOutRight
                >
                    <div class="grid md:grid-cols-12 gap-2">
                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{ "ITEM_CODE" | transloco }}</mat-label>
                            <input
                                type="text"
                                matInput
                                [formControl]="fb.controls.code"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-4">
                            <mat-label>{{ "ITEM_NAME" | transloco }}</mat-label>
                            <input
                                type="text"
                                matInput
                                [formControl]="fb.controls.name"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{ "BARCODE" | transloco }}</mat-label>
                            <input
                                type="text"
                                matInput
                                [formControl]="fb.controls.barcode"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-4">
                            <mat-label>{{
                                "DESCRIPTION" | transloco
                            }}</mat-label>
                            <textarea
                                matInput
                                [formControl]="fb.controls.description"
                                rows="3"
                            ></textarea>
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{ "UNITS" | transloco }}</mat-label>
                            <input
                                type="text"
                                matInput
                                [formControl]="fb.controls.units"
                            />
                            <mat-hint>{{
                                "SPERATE_BY_COMMA" | transloco
                            }}</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-1">
                            <mat-label>{{
                                "DEFAULT_UNIT" | transloco
                            }}</mat-label>
                            <mat-select [formControl]="fb.controls.defaultUnit">
                                <mat-option
                                    *ngFor="let unit of getDefaultUnits(fb)"
                                    [value]="unit"
                                >
                                    {{ unit }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-1">
                            <mat-label>{{
                                "TRACKING_UNIT" | transloco
                            }}</mat-label>
                            <mat-select
                                [formControl]="fb.controls.trackingUnit"
                            >
                                <mat-option
                                    *ngFor="let unit of getTrackingUnits(fb)"
                                    [value]="unit"
                                >
                                    {{ unit }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{
                                "QTY_PER_UNIT" | transloco
                            }}</mat-label>
                            <input
                                type="number"
                                matInput
                                [formControl]="fb.controls.qtyPerUnit"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{
                                "UNIT_PRICE" | transloco
                            }}</mat-label>
                            <input
                                type="number"
                                matInput
                                [formControl]="fb.controls.unitPrice"
                            />
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{
                                "EACH_PRICE" | transloco
                            }}</mat-label>
                            <input
                                type="number"
                                matInput
                                [formControl]="fb.controls.eachPrice"
                            />
                        </mat-form-field>

                        <div
                            class="flex space-x-1 items-center col-span-2 -mt-3.5"
                        >
                            <mat-form-field class="w-full">
                                <mat-label>{{
                                    "MIN_THRESHOLD" | transloco
                                }}</mat-label>
                                <input
                                    type="number"
                                    matInput
                                    [formControl]="fb.controls.minThreshold"
                                />
                            </mat-form-field>

                            <button
                                mat-icon-button
                                type="button"
                                (click)="removeItem(i)"
                            >
                                <mat-icon
                                    class="text-rose-500"
                                    svgIcon="mat_solid:delete"
                                    matTooltip="{{ 'DELETE' | transloco }}"
                                ></mat-icon>
                            </button>
                        </div>
                    </div>

                    <div
                        *ngIf="
                            formGroups.length !== 1 &&
                            i + 1 !== formGroups.length
                        "
                    >
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
