<div class="w-full p-3 sm:p-8 mx-auto" style="max-width: 1400px">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="mb-4">
            <div class="flex justify-between">
                <div class="flex items-center">
                    <button
                        mat-icon-button
                        matTooltip="Back"
                        routerLink="../.."
                        type="button"
                    >
                        <mat-icon svgIcon="mat_outline:chevron_left"></mat-icon>
                    </button>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">
                        Edit Patient
                    </h2>
                </div>
                <div>
                    <button
                        type="submit"
                        mat-flat-button
                        class="flex items-center bg-indigo-600 text-white"
                    >
                        <mat-icon
                            svgIcon="mat_outline:save"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        Save
                    </button>
                </div>
            </div>
        </div>

        <div class="w-full pt-2 pb-2 mx-5">
            <div class="grid grid-cols-2 gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput formControlName="fullName" />
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option
                            [value]="gender"
                            *ngFor="let gender of genders"
                        >
                            {{ gender }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Date of Birth</mat-label>
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="dateOfBirth"
                    />
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Phone Number</mat-label>
                    <input type="text" matInput formControlName="phoneNumber" />
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Blood Group</mat-label>
                    <mat-select formControlName="bloodType">
                        <mat-option value="">(N/A)</mat-option>
                        <mat-option
                            [value]="bloodType"
                            *ngFor="let bloodType of bloodTypes"
                        >
                            {{ bloodType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Address</mat-label>
                    <textarea
                        matInput
                        formControlName="address"
                        rows="3"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
