<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ "PHARMACY_PURCHASES" | transloco }}
                </h2>
            </div>
        </div>
        <div
            class="flex flex-shrink-0 space-x-2 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                mat-flat-button
                color="primary"
                routerLink="create-batch"
                class="text-white"
            >
                <mat-icon
                    class="icon-size-5 mr-2"
                    svgIcon="heroicons_solid:plus"
                ></mat-icon>
                {{ "BATCH" | transloco }}
            </button>
            <!-- <button
                mat-flat-button
                color="primary"
                routerLink="create"
                class="text-white"
            >
                <mat-icon
                    class="icon-size-5 mr-2"
                    svgIcon="heroicons_solid:plus"
                ></mat-icon>
                {{ "NEW" | transloco }}
            </button> -->
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full pt-2 pb-2 sm:pt-6 sm:pb-2 bg-card rounded shadow">
            <form
                [formGroup]="formGroup"
                class="w-full"
                (ngSubmit)="reloadData()"
            >
                <div class="flex flex-wrap w-full px-3 sm:px-6 pt-2 sm:pt-4">
                    <div class="w-full sm:w-2/4 pr-6">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>{{ "ITEM_NAME" | transloco }}</mat-label>
                            <input
                                type="text"
                                matInput
                                formControlName="itemName"
                            />
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-1/4 pr-6">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>{{ "ITEM_CODE" | transloco }}</mat-label>
                            <input
                                type="text"
                                matInput
                                formControlName="itemCode"
                            />
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-1/4 pr-6">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>{{ "STATUS" | transloco }}</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value=""> All </mat-option>
                                <mat-option value="Active"> Active </mat-option>
                                <mat-option value="Archive">
                                    Archive
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-1/3 pr-6">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>{{
                                "START_DATE" | transloco
                            }}</mat-label>
                            <input
                                matInput
                                [matDatepicker]="pickerStart"
                                formControlName="startDate"
                            />
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="pickerStart"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-1/3 pr-6">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>{{ "END_DATE" | transloco }}</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                formControlName="endDate"
                            />
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-1/3 pr-6">
                        <mat-form-field class="w-full" appearance="fill">
                            <mat-label>{{ "SORT_BY" | transloco }}</mat-label>
                            <mat-select formControlName="sortBy">
                                <mat-option value="date:desc">
                                    Date (Newest)
                                </mat-option>
                                <mat-option value="name:asc">
                                    Name (A to Z)
                                </mat-option>
                                <mat-option value="exp:asc">
                                    Expiry (Nearest)
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div
                    class="flex justify-end w-full border-t px-3 sm:px-6 py-1 sm:py-2 border-gray-200 rounded-b"
                >
                    <button
                        type="submit"
                        mat-flat-button
                        color="primary"
                        class="text-white"
                    >
                        {{ "SEARCH" | transloco }}
                    </button>
                </div>
            </form>
        </div>

        <div class="bg-card shadow rounded mt-3 sm:mt-6">
            <table
                class="w-full text-center"
                mat-table
                [dataSource]="dataSource"
            >
                <ng-container matColumnDef="item.code">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "CODE" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.item.code }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="purchasedDate">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "DATE" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.purchasedDate | date: "dd/MM/yyyy" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="item.name">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "ITEM_NAME" | transloco }}
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-left space-x-2"
                    >
                        <span
                            class="px-1.5 py-0.5 rounded bg-slate-600 text-white text-xs"
                        >
                            {{ element.item.code }}
                        </span>
                        <span>
                            {{ element.item.name }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expiryDate">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "EXPIRY_DATE" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.expiryDate | date: "dd/MM/yyyy" }} ({{
                            generateRemainingMonth(element.expiryDate)
                        }})
                    </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "QUANTITY" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.quantity }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="supplier">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "SUPPLIER" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.supplier }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="unit">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "UNIT" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.unit }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="discount">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "DISCOUNT" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.discount | currency: "MMK" : "" : "0.0" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "TOTAL" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.total | currency: "MMK" : "" : "0.0" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center"
                    >
                        {{ "COST" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.cost | currency: "MMK" : "" : "0.0" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="mx-2 text-center w-30"
                    >
                        {{ "ACTIONS" | transloco }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex">
                            <button
                                *ngIf="element.status !== 'Archive'"
                                mat-icon-button
                                (click)="archiveItem(element.id)"
                                matTooltip="{{ 'ARCHIVE' | transloco }}"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:archive"
                                    class="icon-size-4"
                                ></mat-icon>
                            </button>
                            <button
                                *ngIf="element.status === 'Archive'"
                                mat-icon-button
                                (click)="unarchiveItem(element.id)"
                                matTooltip="{{ 'UNARCHIVE' | transloco }}"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:archive"
                                    class="icon-size-4"
                                ></mat-icon>
                            </button>
                            <a
                                *ngIf="element.status !== 'Archive'"
                                mat-icon-button
                                [routerLink]="['edit', element.id]"
                                matTooltip="{{ 'EDIT' | transloco }}"
                            >
                                <mat-icon
                                    svgIcon="feather:edit"
                                    class="icon-size-4"
                                ></mat-icon>
                            </a>
                            <button
                                *ngIf="element.status !== 'Archive'"
                                mat-icon-button
                                (click)="removeItem(element.id)"
                                matTooltip="{{ 'DELETE' | transloco }}"
                            >
                                <mat-icon
                                    svgIcon="heroicons_outline:trash"
                                    class="icon-size-4"
                                ></mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
            <div
                class="flex flex-row justify-end border-t bg-gray-50 dark:bg-gray-700"
            >
                <mat-paginator
                    showFirstLastButtons
                    [pageSizeOptions]="[20, 50, 100]"
                    class="bg-gray-50 dark:bg-gray-700"
                >
                </mat-paginator>
            </div>
        </div>

        <div class="bg-card shadow rounded p-5 mt-5">
            <div class="flex justify-end items-center">
                <div class="flex space-x-2">
                    <p class="px-2 font-bold">
                        {{ "TOTAL_REVENUE" | transloco }}:
                    </p>
                    <p class="pr-5 font-bold">
                        {{ grandTotal | currency: "MMK" : "" : "0.0-0" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
