<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        <mat-icon
            class="w-7 h-7 rounded-full"
            [svgIcon]="'heroicons_solid:user-circle'"
        ></mat-icon>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>
                {{ "SIGN_IN_AS" | transloco }}
            </span>
            <span class="mt-1.5 text-md font-medium">
                {{ user.fullname || user.username }}
            </span>
        </span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openChangePasswordModal()">
        {{ "CHANGE_PASSWORD" | transloco }}
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>
            {{ "SIGN_OUT" | transloco }}
        </span>
    </button>
</mat-menu>

<ng-template #changePasswordRef>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div>
            <mat-form-field class="w-full">
                <mat-label>{{ "OLD_PASSWORD" | transloco }}</mat-label>
                <input type="password" matInput formControlName="oldPassword" />
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>{{ "NEW_PASSWORD" | transloco }}</mat-label>
                <input type="password" matInput formControlName="newPassword" />
                <mat-hint>
                    {{ "MIN_PASSWORD_LENGTH" | transloco }}
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>{{ "CONFIRM_PASSWORD" | transloco }}</mat-label>
                <input
                    type="password"
                    matInput
                    formControlName="retypePassword"
                />
            </mat-form-field>
        </div>

        <div class="flex items-center justify-end space-x-2">
            <button
                mat-dialog-close
                mat-button
                class="bg-slate-600 text-white"
                type="button"
            >
                {{ "CANCEL" | transloco }}
            </button>
            <button mat-button class="bg-indigo-600 text-white" type="submit">
                {{ "CONFIRM" | transloco }}
            </button>
        </div>
    </form>
</ng-template>
