<div class="w-full">
    <div class="w-full p-3 sm:p-8 mx-auto relative" style="max-width: 1400px">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
            <div class="mb-4">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <button
                            mat-icon-button
                            matTooltip="Back"
                            routerLink=".."
                            type="button"
                        >
                            <mat-icon
                                svgIcon="mat_outline:chevron_left"
                            ></mat-icon>
                        </button>
                        <h2
                            class="text-3xl font-semibold tracking-tight leading-8"
                        >
                            {{ "CREATE_NEW_RECEIPT" | transloco }}
                        </h2>
                    </div>
                    <div class="flex items-center gap-2">
                        <button
                            type="button"
                            mat-flat-button
                            class="items-center bg-slate-600 text-white hidden"
                            (click)="handlePrint()"
                        >
                            <mat-icon
                                svgIcon="mat_outline:print"
                                class="icon-size-5 mr-2"
                            ></mat-icon>
                            {{ "PRINT" | transloco }}
                        </button>

                        <button
                            type="submit"
                            mat-flat-button
                            class="flex items-center bg-indigo-600 text-white"
                        >
                            <mat-icon
                                svgIcon="mat_outline:save"
                                class="icon-size-5 mr-2"
                            ></mat-icon>
                            {{ "SAVE" | transloco }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- For Patient Information -->
            <div class="w-full pt-2 pb-2 mx-5">
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex items-center justify-between">
                        <mat-form-field class="w-full">
                            <mat-label>{{
                                "PATIENT_NAME" | transloco
                            }}</mat-label>
                            <input
                                type="text"
                                matInput
                                formControlName="patient"
                                [matAutocomplete]="patientAuto"
                            />
                            <mat-autocomplete
                                #patientAuto="matAutocomplete"
                                [displayWith]="displayPatientFn"
                            >
                                <mat-option
                                    *ngFor="
                                        let option of patientFilteredOptions
                                            | async
                                    "
                                    [value]="option"
                                >
                                    {{ option.fullName }} #{{
                                        option.patientNo
                                    }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button
                            type="button"
                            mat-icon-button
                            (click)="openCreatePatientModal()"
                            matTooltip="{{ 'CREATE_NEW_PATIENT' | transloco }}"
                        >
                            <mat-icon
                                svgIcon="heroicons_solid:user-add"
                            ></mat-icon>
                        </button>
                    </div>

                    <mat-form-field class="w-full">
                        <mat-label>{{ "DOCTOR_NAME" | transloco }}</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="doctor"
                            [matAutocomplete]="doctorAuto"
                        />
                        <mat-autocomplete
                            #doctorAuto="matAutocomplete"
                            [displayWith]="displayDoctorFn"
                        >
                            <mat-option
                                *ngFor="
                                    let option of doctorFilteredOptions | async
                                "
                                [value]="option"
                            >
                                {{ option.fullName }} ({{
                                    option.specialization
                                }}) #{{ option.doctorNo }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>{{ "DATE" | transloco }}</mat-label>
                        <mat-hint>
                            <div class="h-4">
                                {{ "LEAVE_BLANK_FOR_CURRENT_TIME" | transloco }}
                            </div>
                        </mat-hint>
                        <input
                            matInput
                            [ngxMatDatetimePicker]="picker"
                            placeholder="Choose a date"
                            formControlName="date"
                            (click)="picker.open()"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker
                            #picker
                            [showSeconds]="true"
                            [stepSecond]="true"
                        >
                        </ngx-mat-datetime-picker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ "TYPE" | transloco }}</mat-label>
                        <mat-select formControlName="type">
                            <mat-option
                                *ngFor="let item of itemTypes"
                                [value]="item"
                            >
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- For Others -->
            <div class="w-full pt-2 pb-2 mx-5">
                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>{{
                            "PAYMENT_METHOD" | transloco
                        }}</mat-label>
                        <mat-select formControlName="paymentMethod">
                            <mat-option
                                *ngFor="let paymentMethod of paymentMethods"
                                [value]="paymentMethod"
                            >
                                {{ paymentMethod }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="grid grid-cols-3 gap-2">
                        <mat-form-field class="w-full col-span-1">
                            <mat-label>{{
                                "DISCOUNT_PERCENTAGE" | transloco
                            }}</mat-label>
                            <input
                                type="number"
                                matInput
                                formControlName="discountPercent"
                            />
                            <span matTextSuffix>%</span>
                        </mat-form-field>

                        <mat-form-field class="w-full col-span-2">
                            <mat-label>{{
                                "DISCOUNT_AMOUNT" | transloco
                            }}</mat-label>
                            <input
                                type="number"
                                matInput
                                formControlName="discountAmount"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- For Items -->
            <div class="w-full pt-2 pb-2 mx-5">
                <mat-form-field class="w-full">
                    <mat-label>{{ "ADD_ITEM" | transloco }}</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="item"
                        [matAutocomplete]="itemAuto"
                    />
                    <mat-autocomplete
                        #itemAuto="matAutocomplete"
                        [displayWith]="displayItemFn"
                        (optionSelected)="onItemSelect($event)"
                    >
                        <mat-option
                            *ngFor="let option of itemFilteredOptions | async"
                            [value]="option"
                        >
                            <table class="w-full">
                                <tbody>
                                    <tr class="w-full">
                                        <td class="w-[60%] py-2">
                                            {{ option.name }}
                                        </td>
                                        <td class="w-[20%] text-center py-2">
                                            {{ option.category }}
                                        </td>
                                        <td class="w-[20%] text-right py-2">
                                            {{
                                                option.sellingPrice
                                                    | currency
                                                        : "MMK"
                                                        : ""
                                                        : "0.0-0"
                                            }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <div class="mt-4 relative">
                    <table class="w-full border-collapse">
                        <thead>
                            <tr class="border-b">
                                <th class="text-left py-2">
                                    {{ "ITEM_NAME" | transloco }}
                                </th>
                                <th class="text-right py-2">
                                    {{ "PRICE" | transloco }}
                                </th>
                                <th class="text-right py-2">
                                    {{ "QUANTITY" | transloco }}
                                </th>
                                <th class="text-right py-2">
                                    {{ "DISCOUNT" | transloco }}
                                </th>
                                <th class="text-right py-2">
                                    {{ "TOTAL" | transloco }}
                                </th>
                                <th class="text-center py-2">
                                    {{ "ACTION" | transloco }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let item of selectedItemsReverse;
                                    let i = index
                                "
                                class="border-b"
                            >
                                <td class="py-2">{{ item.name }}</td>
                                <td class="text-right py-2">
                                    <input
                                        class="py-1 px-2 w-24 rounded bg-white text-center"
                                        matInput
                                        type="number"
                                        (change)="recalculateDiscount()"
                                        [(ngModel)]="item.sellingPrice"
                                        [ngModelOptions]="{ standalone: true }"
                                    />
                                </td>
                                <td class="text-right py-2">
                                    <input
                                        class="py-1 px-2 w-12 rounded bg-white text-center"
                                        matInput
                                        type="number"
                                        (change)="recalculateDiscount()"
                                        [(ngModel)]="item.quantity"
                                        [ngModelOptions]="{ standalone: true }"
                                    />
                                </td>
                                <td class="text-right py-2">
                                    <input
                                        class="py-1 px-2 w-24 rounded bg-white text-center"
                                        matInput
                                        type="number"
                                        (change)="recalculateDiscount()"
                                        [(ngModel)]="item.discount"
                                        [ngModelOptions]="{ standalone: true }"
                                    />
                                </td>
                                <td class="text-right py-2 w-30">
                                    {{
                                        item.sellingPrice * item.quantity -
                                            (item.discount || 0)
                                            | currency: "MMK" : "" : "0.0-0"
                                    }}
                                </td>
                                <td class="text-center py-2">
                                    <button
                                        type="button"
                                        mat-icon-button
                                        color="warn"
                                        (click)="removeItem(i - 1)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <!-- Total -->
                            <tr class="text-center">
                                <th colspan="4" class="py-4">
                                    {{ "SUBTOTAL" | transloco }}
                                </th>
                                <th colspan="2" class="py-4">
                                    {{
                                        getSubTotal()
                                            | currency: "MMK" : "" : "0.0-0"
                                    }}
                                </th>
                            </tr>
                            <tr class="text-center">
                                <th colspan="4" class="py-4">
                                    {{ "DISCOUNT" | transloco }}
                                </th>
                                <th colspan="2" class="py-4">
                                    {{
                                        getDiscount()
                                            | currency: "MMK" : "" : "0.0-0"
                                    }}
                                </th>
                            </tr>
                            <tr class="text-center">
                                <th colspan="4" class="py-4">
                                    {{ "TOTAL" | transloco }}
                                </th>
                                <th colspan="2" class="py-4">
                                    {{
                                        getGrandTotal()
                                            | currency: "MMK" : "" : "0.0-0"
                                    }}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <div class="fixed bottom-0 inset-x-0 shadow-md z-50">
            <div
                class="flex justify-end items-center bg-white px-12 pt-2 pb-4 font-bold space-x-12"
            >
                <div class="text-center flex space-x-2">
                    <p>
                        {{ "SUBTOTAL" | transloco }}
                    </p>
                    <p>
                        {{ getSubTotal() | currency: "MMK" : "" : "0.0-0" }}
                    </p>
                </div>
                <div class="text-center flex space-x-2">
                    <p>
                        {{ "DISCOUNT" | transloco }}
                    </p>
                    <p>
                        {{ getDiscount() | currency: "MMK" : "" : "0.0-0" }}
                    </p>
                </div>
                <div class="text-center flex space-x-2">
                    <p>
                        {{ "TOTAL" | transloco }}
                    </p>
                    <p>
                        {{ getGrandTotal() | currency: "MMK" : "" : "0.0-0" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Hidden on screen (web) */
    .print-only {
        display: none;
    }

    /* Shown on print */
    @media print {
        .print-only {
            display: block; /* Or 'inline', 'flex', etc., depending on the element type */
        }
    }
</style>
