@media print {
    @page {
        size: 210mm 297mm;
        /* margin: 14mm 12mm; */
    }
    html,
    body {
        background: #fff !important;
        color: #000 !important;
    }
    .print-report {
        box-shadow: none !important;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }
    .print-report table {
        page-break-inside: auto;
    }
    .print-report tr {
        page-break-inside: avoid;
        background: #000;
    }
}
